/*
Colors used
Body text - Dark Gray: #2b2b2b;
Button background - light grey: #f8f8ff
Modal innner - white - #fefefe
Modal container - red - rgba(139, 0, 0, 0.6)
 */

body {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #2b2b2b;
}

button {
  /* overwrites browser defaults and resets the border,bottom border reapplied later */
  border: none;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #f8f8ff;
  color: #2b2b2b;
  text-decoration: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
.button_CV:hover,
.button_CV:focus {
  cursor: pointer;
  opacity: 0.8;
}

.list-group-item {
  border: none;
  display: inline-block;
}

.btn-warning {
  border-radius: 4px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.btn-warning:hover {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.19);
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
}
